* {
    box-sizing: border-box;
}

.container {
    border: 4px solid gray;
    padding: 24px;
}


.title {
    border: 2px solid gray;
    height: 24px;
    width: 100%;
    margin-bottom: 24px;

}

.box-wrapper {
    display: flex;
    flex-wrap: wrap;

}

.small-box {
    border: 4px solid gray;
    height: 100px;
    width: calc(100% / 3);
}